body {
    background-image: url( '/Content/Images/login_bg.jpg')
}

.login-row {
    text-align: center;
    margin-top: 25%;
}

.login-header, .login-header i {
    font-size: 19px;
    color: #DD5A43;
}

.login-box {
    margin: 10px 0px 0px 0px;
    border: 5px solid #394557;
    background-color: #F7F7F7;
    position: relative;
    text-align: left;
    padding: 6px;
}

.login-box-body {
    padding: 16px 36px;
}

.login-box-header {
    line-height: 24px;
    margin: 18px 0px 16px 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
    color: #478FCA;
}

    .login-box-header h4, .login-box-header i {
        font-size: 16px;
    }

.layui-form-item {
    margin-bottom: 20px;
}

.layui-form-label {
    margin-bottom: 15px;
    padding: 9px 0px;
    clear: both;
}

.layui-input-block {
    margin-left: 95px;
}