<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>首页</title>
    <link href="~/Content/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h2 style="margin-top:180px">后台</h2>
        <h3>管理系统</h3>
    </div>
</body>
</html>